[Unit]
Description=Receives commands for LGTV via mqtt
After=multi-user.target

[Service]
Type=simple
User=exampleuser
Group=examplegroup
WorkingDirectory=/path/to/libLGTV_serial
ExecStart=/path/to/python/venv/bin/python LGTV_service.py

[Install]
WantedBy=multi-user.target